.color{
    color: #1cb3c3;
    color: rgba(28, 179, 195);
    color: #1c8383;
    color: rgba(28, 131, 131);
    color: #2c343c;
    color: rgba(44, 52, 60);
    color: #2c6369;
    color: rgba(44, 99, 105);
    color: #268990;
    color: rgba(38, 137, 144);
    color: #2e5454;
    color: rgba(46, 84, 84);
    color: #34373a;
    color: rgba(52, 55, 58);
    color: #344a4c;
    color: rgba(52, 74, 76);
}
